<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82834712138-b52r5uq67co0vgkdq6epdbbi7frl2uai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82834712138-b52r5uq67co0vgkdq6epdbbi7frl2uai</string>
	<key>API_KEY</key>
	<string>AIzaSyDsAkMl31MFdD4oGpvNB4QZ9XE6ynazI9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>82834712138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.courts</string>
	<key>PROJECT_ID</key>
	<string>oldfurniture</string>
	<key>STORAGE_BUCKET</key>
	<string>oldfurniture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82834712138:ios:3551ae4677b4c366f768b3</string>
</dict>
</plist>